.btn {
  margin-bottom: 135px;
}

.block {
  margin-top: 200px;
  margin-bottom: 485px;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}

.error {
  margin-top: 40px;
}

